<USER_QUERY>
{{ user_query }}
</USER_QUERY>

<DOCUMENT_INFO total_chunks="{{ total_chunks }}" chunk_range_start="{{ chunk_range_start }}" chunk_range_end="{{ chunk_range_end }}" />

Please summarize the content below according to the above instructions:
<CONTENT>
{{ chunk_content }}
</CONTENT>